////////////////////////////////////////////////////////////////////////////////
// Copyright (c) Jonathan(Jon) DuBois 2015. This file is part of LNZ.         //
////////////////////////////////////////////////////////////////////////////////

101 ICON "bcj.ico"


1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Jon DuBois"
      VALUE "FileDescription", "LNZ"
      VALUE "FileVersion", "5.0a"
      VALUE "InternalName", "LNZ5.0a"
      VALUE "LegalCopyright", "Copyright Jonathan(Jon) DuBois"
      VALUE "OriginalFilename", "lnz.exe"
      VALUE "ProductName", "LNZ"
      VALUE "ProductVersion", "5.0a"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END